{
    "sourceDefinitionId": "778daa7c-feaf-4db6-96f3-70fd645acc77",
    "sourceId": "9e6e3059-f476-4bcb-a98f-08868023069c",
    "workspaceId": "b3b755bf-ac0e-4006-8a04-9c6fc3c3779d",
    "connectionConfiguration": {
      "url": "https://storage.googleapis.com/covid19-open-data/v2/latest/epidemiology.csv",
      "format": "csv",
      "provider": {
        "storage": "HTTPS"
      },
      "dataset_name": "covid_epidemiology"
    },
    "name": "File",
    "sourceName": "File"
  }