{
    "destinationDefinitionId": "22f6c74f-5699-40ff-833c-4a879ea40133",
    "destinationId": "1d1c0160-6b8b-4ddb-aefa-a2bbea888bb9",
    "workspaceId": "b3b755bf-ac0e-4006-8a04-9c6fc3c3779d",
    "connectionConfiguration": {
      "dataset_id": "[[ pipeline_owner ]]_private_working_schema",
      "project_id": "[[ gcp_project_id ]]",
      "loading_method": {
        "method": "Standard"
      },
      "credentials_json": "[[ gcp_key_json ]]",
      "dataset_location": "us-east4",
      "transformation_priority": "interactive",
      "big_query_client_buffer_size_mb": 15
    },
    "name": "BigQuery Warehouse",
    "destinationName": "BigQuery"
  }